<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
	
	
	<!-- solr4.x -->
	<!-- <bean id="httpSolrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
        <constructor-arg value="solrCore的远程地址"/>
    </bean> -->
    
	<!-- 配置单机版的solrclient -->
		<!--版本更新说明:
	    1.从solr5.x开始,HttoSolrServer就变成了HttpSolrClient
	    2.查看源码发现,之前的构造方法已经修改,以前的注入方法也不再适用.主要由一个静态类builder来构造,而builder需要一个baseUrl,
	      所以差不多就是之前的单baseUrl的构造方法(源码179,830)
	 -->
	<!-- <bean id="httpSolrClient" class="org.apache.solr.client.solrj.impl.HttpSolrClient">
	    <constructor-arg name="baseURL" value="http://localhost:8080/solr/core_test"/>
	</bean> -->
	
</beans>